@import "//at.alicdn.com/t/font_2663193_ggslwf83s.css"

/* copied from iconfont.css, for styling purpose */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time1:before {
  content: "\e7ce";
}

.icon-lock1:before {
  content: "\e61f";
}

.icon-usb-cord:before {
  content: "\e8b1";
}

.icon-lock2:before {
  content: "\e6c0";
}

.icon-sun1:before {
  content: "\e642";
}

.icon-usb-c:before {
  content: "\e8ba";
}

.icon-Wave:before {
  content: "\e613";
}

.icon-home:before {
  content: "\e61b";
}

.icon-radio:before {
  content: "\ea28";
}

.icon-bolt:before {
  content: "\e654";
}

.icon-bluetooth:before {
  content: "\e8d4";
}

.icon-time:before {
  content: "\e620";
}

.icon-usb-c-cord:before {
  content: "\e8b2";
}

.icon-USBPort:before {
  content: "\e6e4";
}

.icon-lock:before {
  content: "\e605";
}

.icon-sun:before {
  content: "\e6d2";
}
